<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>{{ .ServiceName }}</title>

    <!-- CSS files -->
    {{range .CSSFiles}}
        <!-- File: {{.KeyName}} -->
        <style>
          {{.Data}}
        </style>
    {{end}}

    <!-- JS Files -->
    {{range .JSFiles}}
        <!-- File: {{.KeyName}} -->
        <script type="text/javascript">
// <![CDATA[

          {{.Data}}

//]]>
        </script>
    {{end}}

    <script charset="UTF-8">

      CLOUDFORMATION_TEMPLATE_RAW = {{ .CloudFormationTemplate }}

    </script>

    <style>
      /* Show it is fixed to the top */

      body {
        min-height: 75rem;
        padding-top: 4.5rem;
      }

      .spartaLayout {
        font-family: "Hasklig", "Ubuntu Mono", "Menlo", "Courier New", "Lucida Console";
        font-size: 12px;
      }
    </style>

    <script>
    mermaid.initialize({startOnLoad:true,
                      htmlLabels: true,
                      flowchart:{
                          useMaxWidth: true
                      }
                      });

    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">{{ .ServiceName }}</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul id="navBarItems" class="navbar-nav mr-auto">
          <li class="nav-item" id="lambda-tab">
              <a class="nav-link"
              href="#lambda"
              onclick="showView('lambda')">
              <img src="data:image/svg+xml;base64,{{ index .ImageMap "Compute_AWSLambda_LambdaFunction.svg"}}"  width="32" height="32" class="d-inline-block align-top" alt="" /> Lambdas
            </a>
          </li>
          <li>
            <span style="display: inline-block; width:1px; height:100%; background:#000; margin: 0 2px;"></span>
          </li>
          <li class="nav-item" id="cloudformation-template-tab">
              <a class="nav-link "
              href="#cloudformation-template"
              onclick="showView('cloudformation-template')">
              <img src="data:image/svg+xml;base64,{{ index .ImageMap "ManagementTools_AWSCloudFormation.svg"}}" width="32" height="32" class="d-inline-block align-top" alt="" />
              CloudFormation Template</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link"
              target="_blank" href="https://gosparta.io">
                  <img src="data:image/png;base64,{{ index .ImageMap "SpartaHelmet256.png"}}" width="32" height="32" class="d-inline-block align-top" alt="">
                  Sparta
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link"
              target="_blank" href="https://github.com/mweagle/Sparta/commit/{{ .SpartaVersion }}">
              <smallest>
              ({{ .SpartaVersion }})
              </smallest>
              </a>
          </li>
        </ul>
      </div>
    </nav>

      <main role="main" class="container-fluid">
        <div id="view-container">
          <div id="lambda-view">
            <div class="mermaid spartaLayout" id="mermaidGraph">
              %% Sparta Graph
              graph RL

              {{ .MermaidData}}
            </div>
          </div>

          <div class="card" id="cloudformation-template-view">
              <div class="card-body">

                  <p class="card-text">
                      <pre class="hljs">
                        <code class="json" id="rawTemplateContent"></code>
                      </pre>
                  </p>
              </div>
          </div>
        </div>
      </main>
  </body>
</html>