<div class="mermaid">
graph TD
  iam[Verify Static IAM Roles]
  preBuild[WorkflowHook - PreBuild]
  style preBuild fill:#1A98E7,stroke:#000,stroke-width:4px;

  compile[Cross Compile for AWS Linux AMI]
  postBuild[WorkflowHook - PostBuild]
  style postBuild fill:#1A98E7,stroke:#000,stroke-width:4px;

  proxyShims[Create NodeJS-Go HTTP Proxies]
  package[ZIP archive]
  userArchive[WorkflowHook - Archive]
  style userArchive fill:#1A98E7,stroke:#000,stroke-width:4px;

  upload[Upload Archive to S3]
  packageAssets[Conditionally ZIP S3 Site Assets]
  uploadAssets[Upload S3 Assets]
  preMarshall[WorkflowHook - PreMarshall]
  style preMarshall fill:#1A98E7,stroke:#000,stroke-width:4px;

  generate[Marshal to CloudFormation]
  decorate[Call Lambda Decorators - Dynamic AWS Resources]

  serviceDecorator[Service Decorator]
  style serviceDecorator fill:#1A98E7,stroke:#000,stroke-width:4px;

  postMarshall[WorkflowHook - PostMarshall]
  style postMarshall fill:#1A98E7,stroke:#000,stroke-width:4px;

  uploadTemplate[Upload Template to S3]
  converge[Create/Update Stack]
  wait[Wait for Complete/Failure Result]

  iam-->preBuild
  preBuild-->compile
  compile-->postBuild
  postBuild-->proxyShims
  proxyShims-->package
  proxyShims-->packageAssets
  package-->userArchive
  userArchive-->upload
  packageAssets-->uploadAssets
  uploadAssets-->generate
  upload-->generate

  generate-->preMarshall
  preMarshall-->decorate
  decorate-->serviceDecorator
  serviceDecorator-->postMarshall
  postMarshall-->uploadTemplate
  uploadTemplate-->converge
  converge-->wait
</div>
<h6>This diagram is rendered with <a href="https://github.com/knsv/mermaid" target="_blank">Mermaid</a>. Please open an <a href="https://github.com/mweagle/Sparta/issues/new" target="_blank">issue</a> if it doesn't render properly.</h6>
<hr />
