.mermaid .label {
  color: #CCCCCC;
  font-weight: bold;
  margin: 5px;
}
.node rect,
.node circle,
.node ellipse,
.node polygon {
  fill: #991B1E;
  stroke: #CCCCFF;
  stroke-width: 1px;
}

.edgeLabel {
  color: #991B1E;
  background-color: #CCCCCC;
}
